/*Controls Text Colors*/
.App {
  text-align: center;
  color: white;
  background-color: white;
}

.bar {
  display: flex;
}

.sideTab {
  background-color: #659DBD;
	font-family: 'Merriweather';
  text-align: center;
  color: black;
  border-radius: 25px;
  align-items: flex;
  padding: 20px;
  height:fit-content;
  
}

.center {
  background-color: #659DBD;
	font-family: 'Merriweather';
  text-align: center;
  color: black;
  border-radius: 25px;
  align-items: flex;
  padding: 20px;
  height:fit-content;
  width:auto;
  
}

.centerBlock {
  background-color: #659DBD;
	font-family: 'Merriweather';
  text-align: center;
  color: black;
  border-radius: 25px;
  align-items: flex;
  padding: 20px;
  height:fit-content;
  width: max-content;
}


/*Controls Title/Brand Text Colors*/
/*use id = to identifiy with hashtags*/

#subtabStyle{
	background-color: white;
	font-family: 'Merriweather';
  text-align: center;
  color: black;
  border-radius: 25px;
  align-items: flex;
  padding: 20px;
  height: 200px;
  width: 200px;
  
}

#calStyle{
  align-items:center;
  background-color: #4008e7;
  border-radius: 20;
  border-width: 400px;
}

#brand{
	color: white;
  background-color: #659DBD;
  font-size:xx-large;
  font-family: 'Merriweather';
  border-radius: 25px;
  align-items: flex;
}

#title{
	background-color: #DAAD86;
  align-items: flex-end;
  width: fill;
  
}